.venv/
./logs/
./models/
yolov8s.pt
./tests/test_images/
./tests/test_results/
./.idea/
./data/
./dataset/
./trained_generators/
./generated_images/
./reports/
./data/
./benchmark_result/
./idea/
./venv/
./frontend/node_modules/
./frontend/dist/
./frontend/.next/

